# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
.open-next/

# production
build

# turbo
.turbo

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-error.log

# local env files
.env*.local
.dev.vars

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# content collections
.content-collections

# wrangler
.wrangler

# nix
.direnv
result
