@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--foreground-faded: #444444;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-foreground-faded: var(--foreground-faded);
	--font-sans: system-ui;
	--font-mono: var(--font-commit-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--foreground-faded: var(--color-neutral-500);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

a {
	@apply text-pink-500 hover:underline;
}

.markdown {
	@apply leading-relaxed space-y-4 text-foreground tabular-nums;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
}

.markdown h1 {
	@apply leading-snug font-semibold text-2xl;

	&:before {
		content: "# ";
		@apply text-pink-900;
	}
}

.markdown h2 {
	@apply leading-snug font-semibold text-xl;

	&:before {
		content: "## ";
		@apply text-pink-900;
	}
}

.markdown h3 {
	@apply leading-snug font-semibold text-lg;

	&:before {
		content: "### ";
		@apply text-pink-900;
	}
}

.markdown h4 {
	@apply leading-snug font-semibold;

	&:before {
		content: "#### ";
		@apply text-pink-900;
	}
}

.markdown table {
	@apply table-auto;
}

.markdown table td {
	@apply border-1 p-2 border-neutral-700;
}

.markdown table th {
	@apply border-1 font-semibold p-2 text-pink-500 border-neutral-700;
}

.markdown ul {
	@apply list-disc ml-6 py-3;
}

.markdown ol {
	@apply list-decimal ml-6 py-3;
}

.markdown ul li {
}

.orchestration {
	counter-reset: orchestration;
}

.orchestration > * {
	counter-increment: orchestration;
	animation: enter 0.6s ease both;
	animation-delay: calc(var(--delay) * var(--stagger));
	--delay: 100ms;
}

@keyframes enter {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	*:before,
	*:after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.callout {
	@apply bg-pink-800 text-white p-4 m-4 rounded-sm;
}

.callout h1,
.callout h2,
.callout h3,
.callout h4,
.callout h5,
.callout h6 {
	@apply font-black uppercase;

	&::before {
		content: "";
	}
}

.fabula-ultima {
	@apply font-sans border-l-8 border-pink-800 space-y-3 bg-neutral-200 dark:bg-neutral-800 pb-4;
}

.fabula-ultima p,
.fabula-ultima table {
	@apply mx-4;
}

.fabula-ultima h1,
.fabula-ultima h2,
.fabula-ultima h3,
.fabula-ultima h4,
.fabula-ultima h5,
.fabula-ultima h6 {
	@apply font-black font-serif text-white;

	&::before {
		content: "";
	}
}

.fabula-ultima h1 {
	@apply uppercase bg-pink-950 text-3xl p-2;
}

.fabula-ultima h2 {
	@apply border-b-1 border-pink-800 p-2 bg-gradient-to-r from-pink-800 to-transparent;
}

.fabula-ultima h3 {
	@apply bg-pink-800/40 py-1 px-2 uppercase font-sans;
}
